*{
    margin: 0px;
}
h1{
    width: 200px;
    margin: 0 auto;
}
table{
    margin: 0 auto;  
}
.celda{
height: 150px;
width: 150px;
}
.completa{
    border: 1px solid black;

}
.left{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.right{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.rc{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.lc{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td{
    height: 150px;
    width: 150px;
}